<template>
  <div
    v-if="$page.props.flash.modal"
    class="modal"
    :class="{ 'is-active': show }"
  >
    <div class="modal-background" />
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          Ver Crédito
        </p>
        <button
          class="delete"
          aria-label="close"
          @click="show = false"
        />
      </header>
      <section class="modal-card-body">
        <div class="container">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input
                    class="input is-static"
                    type="number"
                    :value="credit.mov_amount"
                    readonly
                  >
                  <span class="icon is-small is-left">
                    <i class="fas fa-coins" />
                  </span>
                </p>
                <p class="help is-primary">
                  Monto
                </p>
              </div>

              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <textarea
                    v-model="credit.about"
                    class="textarea is-static"
                    readonly
                  />
                </p>
                <p class="help is-primary">
                  Descripción
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input
                    class="input is-static"
                    type="text"
                    :value="credit.account.name"
                    readonly
                  >
                  <span class="icon is-small is-left">
                    <i class="fas fa-file-invoice" />
                  </span>
                </p>
                <p class="help is-primary">
                  Cuenta
                </p>
              </div>

              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input
                    class="input is-static"
                    type="text"
                    :value="madeAtForHuman"
                    readonly
                  >
                  <span class="icon is-small is-left">
                    <i class="fas fa-clock" />
                  </span>
                </p>
                <p class="help is-primary">
                  Creado el
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-outlined is-rounded" @click="show = false">
          <span class="icon">
            <i class="fas fa-times" />
          </span>
          <span>Cerrar</span>
        </button>
      </footer>
    </div>
  </div>
</template>

<script>
import { DateTime } from "luxon";

export default {
  data() {
    return {
      show: true,
      credit: this.$page.props.flash.modal,
    };
  },

  computed: {
    madeAtForHuman() {
      return (
        DateTime.fromISO(this.credit.made_at).toLocaleString(
          DateTime.DATETIME_MED
        ) +
        " (" +
        this.credit.diff_made_at +
        ")"
      );
    },
  },

  watch: {
    "$page.props.flash.modal": {
      handler() {
        this.show = true;
      },
      deep: true,
    },
  },
};
</script>