<template>
  <AppLayout title="Nuevo Débito">
    <template #header>
      <BulmaLevel v-bind="levelData()" />
    </template>

    <form class="mt-6" novalidate @submit.prevent="submit">
      <BulmaField label="Cuenta" iid="account_id" label-size="is-normal" horizontal>
        <BulmaField>
          <BulmaSelect
            id="account_id"
            v-model="form.account_id"
            :error="errors.account_id"
            class="control is-expanded"
            select-is-fullwidth
            required
          >
            <option :value="null" disabled>Selecione Cuenta</option>
            <option
              v-for="account in accounts || []"
              :key="account.id"
              :value="account.id"
            >
              {{ account.name }}: {{ new Intl.NumberFormat('es-VE', {style: 'currency', currency: account.currency}).format(account.balance) }}
            </option>
          </BulmaSelect>
        </BulmaField>
      </BulmaField>

      <BulmaField label="Monto" iid="mov_amount" label-size="is-normal" horizontal>
        <BulmaField>
          <BulmaInput
            id="mov_amount"
            v-model="form.mov_amount"
            :error="errors.mov_amount"
            type="number"
            class="is-expanded"
            min="0.01"
            max="99999999.99"
            step=".01"
            required
            placeholder="Ejemplo: 14,5"
          />
        </BulmaField>
      </BulmaField>

      <BulmaField label="Fecha" iid="made_at" label-size="is-normal" horizontal>
        <BulmaField>
          <BulmaInput
            id="made_at"
            v-model="form.made_at"
            :error="errors.made_at"
            type="datetime-local"
            class="is-expanded"
            min="2000-01-02T00:00"
            :max="now"
            required
          />
        </BulmaField>
      </BulmaField>

      <BulmaField label="Descripción" iid="about" label-size="is-normal" horizontal>
        <BulmaField>
          <BulmaInput
            id="about"
            v-model="form.about"
            :error="errors.about"
            type="text"
            class="is-expanded"
            required
            placeholder="Ejemplo: Pago por compra de panes."
          />
        </BulmaField>
      </BulmaField>

      <BulmaField horizontal>
        <BulmaField>
          <BulmaButton
            type="submit"
            :loading="form.processing"
            class="is-success"
            text="Registrar"
            icon-left="fas fa-save"
          />
        </BulmaField>
      </BulmaField>
    </form>
  </AppLayout>
</template>

<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3'
import AppLayout from '@/Layouts/AppLayout.vue'
import BulmaButton from '@/Components/BButton.vue'
import BulmaButtonStatic from '@/Components/BButtonStatic.vue'
import BulmaSelect from '@/Components/BSelect.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaTextArea from '@/Components/BTextArea.vue'
import { DateTime } from 'luxon'

const props = defineProps({
  accounts: Object,
  errors: Object,
})

const form = useForm({
  account_id: null,
  mov_amount: null,
  about: null,
  made_at: null,
})

const now = DateTime.now().toISO({
  includeOffset: false
})

const submit = () => {
  // eslint-disable-next-line no-undef
  form
  .transform((data) => ({
    ...data,
    mov_amount: parseFloat(data.mov_amount).toFixed(2)
  }))
  .post(route('debits.store'), form)
}

const levelData = () => {
  return {
    // eslint-disable-next-line no-undef
    lvl1route: route('debits.index'),
    lvl1icon: 'fas fa-arrow-trend-down',
    lvl1crumb: 'Débitos',
    lvl2icon: 'fas fa-plus',
    lvl2crumb: 'Nuevo',
  }
}
</script>