<template>
  <AppLayout title="Débitos">
    <template #header>
      <BulmaLevel v-bind="levelData()" />
    </template>

    <BulmaLevelSearch
      v-model="form.search"
      v-bind="levelSearchData(debits)"
      route-create="debits.create"
      @reset-quick-search="reset"
    >
      <template #level-left>
        <BulmaSelect id="account_id" class="is-primary" v-model="form.account_id">
          <option :value="null" disabled>Selecione Cuenta</option>
          <option
            v-for="account in accounts || []"
            :key="account.id"
            :value="account.id"
          >
            {{ account.name }}: {{ new Intl.NumberFormat('es-VE', {style: 'currency', currency: account.currency}).format(account.balance) }}
          </option>
        </BulmaSelect>
      </template>
    </BulmaLevelSearch>

    <div class="table-container">
      <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
          <tr>
            <th class="has-text-left">Cuenta</th>
            <th class="has-text-right">Monto Debitado</th>
            <th class="has-text-right">Fecha</th>
            <th />
          </tr>
        </thead>

        <tbody>
          <tr v-for="(debitMov, index) in debits.data || []" :key="index">
            <td class="has-text-left">
              <a href="#" @click="showDetails(debitMov.id)">{{ debitMov.name }}</a>
            </td>
            <td class="has-text-right">
              {{ new Intl.NumberFormat('es-VE', {style: 'decimal', minimumFractionDigits: 2}).format(debitMov.mov_amount) }}
            </td>
            <td class="has-text-right">
              {{ debitMov.diff_made_at }}
            </td>
            <td>
              <div class="field has-addons">
                <p class="control">
                  <BulmaButton
                    icon-left="fas fa-eye"
                    size="is-small"
                    @click="showDetails(debitMov.id)"
                  />
                </p>
                <p class="control">
                  <BulmaButton
                    icon-left="fas fa-pen"
                    size="is-small"
                    @click="goToEdit(debitMov.id)"
                  />
                </p>
                <p class="control">
                  <BulmaButton
                    icon-left="fas fa-trash"
                    size="is-small"
                    @click="setToDestroy(debitMov), (showDestroyModal = true)"
                  />
                </p>
              </div>
            </td>
          </tr>

          <tr v-if="debits.data.length === 0">
            <td class="has-text-centered" colspan="4">
              No existen registros.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <BulmaPagination v-bind="paginationData(debits)" />
    <ModalDetail />
    <ModalDestroy
      v-if="showDestroyModal"
      :debitMov="dataToDestroy"
      @hide-destroy-modal="showDestroyModal = $event"
    />
  </AppLayout>
</template>

<script setup>
import { computed, ref, watch } from 'vue'
import { useForm } from '@inertiajs/inertia-vue3'
import AppLayout from '@/Layouts/AppLayout.vue'
import BulmaButton from '@/Components/BButton.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaLevelSearch from '@/Components/BLevelSearch.vue'
import BulmaPagination from '@/Components/BPagination.vue'
import BulmaSelect from '@/Components/BSelect.vue'
import mapValues from 'lodash/mapValues'
import ModalDestroy from './Destroy.vue'
import ModalDetail from './Show.vue'
import pickBy from 'lodash/pickBy'
import throttle from 'lodash/throttle'
import { Inertia } from '@inertiajs/inertia'

const props = defineProps({
  errors: Object,
  filters: Object,
  debits: Object,
  accounts: Object,
})

const dataToDestroy = ref({})
const showDestroyModal = ref(false)

const form = useForm({
  search: props.filters.search,
  account_id: props.filters.account_id,
})

const pluralizer = computed(() => {
  return props.debits.total !== 1 ? 'débitos' : 'débito'
})

watch(form,
  throttle(() => {
    Inertia.get(route('debits.index'), pickBy(form), {
      preserveState: true,
      only: ['debits'],
    })
  }, 200), {
    deep: true
  }
)

const reset = () => form.reset()

const showDetails = (debit) => {
  Inertia.get(`debits/${debit}`)
}
const goToEdit = (debit) => {
  Inertia.get(`debits/${debit}/edit`)
}
const setToDestroy = (debit) => {
  dataToDestroy = debit
}

const levelData = () => {
  return {
    lvl1icon: 'fas fa-arrow-trend-down',
    lvl1crumb: 'Débitos',
  }
}
const levelSearchData = (data) => {
  return {
    from: data.from,
    to: data.to,
    total: data.total,
    subject: pluralizer.value,
  }
}
const paginationData = (data) => {
  return {
    links: data.links,
    'current-page': data.current_page,
    'items-per-page': data.per_page,
    'total-pages': data.last_page,
    'next-page': data.next_page_url,
    'prev-page': data.prev_page_url,
  }
}
</script>