<template>
  <AppLayout title="Tablero">
    <template #header>
      <BulmaLevel lvl1icon="fas fa-tachometer-alt" lvl1crumb="Tablero" />
    </template>

    <div v-if="accounts.length" class="tile is-ancestor mt-3">
      <div
        v-for="(account, index) in accounts"
        :key="index"
        class="tile is-parent"
      >
        <article class="tile is-child box">
          <p class="title is-5 is-spaced">{{ account.name }}</p>
          <p class="subtitle is-size-6 is-family-code">
            {{ new Intl.NumberFormat('es-VE', {style: 'currency', currency: account.currency}).format(account.balance) }}
          </p>
        </article>
      </div>
    </div>
    <div v-else class="tile is-ancestor mt-3">
      <div class="tile is-parent">
        <article
          class="
            tile
            is-child
            notification
            is-flex is-align-content-space-between is-primary
          "
        >
          <div class="content is-flex-grow-1">
            <p class="title">No hay cuentas</p>
            <p class="subtitle">-</p>
            <Link
              :href="route('accounts.create')"
              class="
                button
                is-rounded is-outlined is-large is-success is-inverted
              "
            >
              <span class="icon is-medium">
                <i class="fas fa-plus"></i>
              </span>
              <span>Añadir Cuenta</span>
            </Link>
          </div>
          <div class="fa-3x fa-fw is-align-self-center">
            <span class="icon">
              <i class="fas fa-file-invoice" />
            </span>
          </div>
        </article>
      </div>
    </div>
    <section class="section">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification has-background-danger-light">
            <p class="title is-spaced has-text-danger-dark">Gastos del Mes</p>
            <line-chart
              :data="debitsPerActualMonth"
              :library="{
                plugins: {
                  tooltip: {
                    callbacks: {
                      label: function(context) {
                        let label = new Intl.NumberFormat('es-VE', {
                              style: 'decimal', minimumFractionDigits: 2
                            })
                            .format(context.parsed.y)
                            || ''

                        return label
                      }
                    }
                  }
                }
              }"
              empty="No hay datos"
              decimal=","
              :colors="['#b00', '#666']"
              xtitle="Fecha"
              ytitle="Monto"
            ></line-chart>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification has-background-info-light">
          <p class="title is-spaced has-text-info-dark">Ingresos del Mes</p>
            <line-chart
              :data="creditsPerActualMonth"
              :library="{
                plugins: {
                  tooltip: {
                    callbacks: {
                      label: function(context) {
                        let label = new Intl.NumberFormat('es-VE', {
                              style: 'decimal', minimumFractionDigits: 2
                            })
                            .format(context.parsed.y)
                            || ''

                        return label
                      }
                    }
                  }
                }
              }"
              empty="No hay datos"
              decimal=","
              xtitle="Fecha"
              ytitle="Monto"
            ></line-chart>
          </article>
        </div>
      </div>
    </section>
  </AppLayout>
</template>

<script setup>
import { computed } from 'vue'
import { Link } from '@inertiajs/inertia-vue3'
import AppLayout from '@/Layouts/AppLayout.vue'
import BulmaLevel from '@/Components/BLevel.vue'

const props = defineProps({
  accounts: Object,
  debits: Array,
  credits: Array,
})

const debitsPerActualMonth = computed(() => {
  return props.debits.map((debit) => {
    return [debit.made_at, parseFloat(debit.mov_amount)]
  })
})

const labelsDebit = computed(() => {
  return props.debits.map((debit) => {
    return debit.currency + ': ' + debit.about
  })
})

const creditsPerActualMonth = computed(() => {
  return props.credits.map((credit) => {
    return [credit.made_at, parseFloat(credit.mov_amount)]
  })
})

const labelsCredit = computed(() => {
  return props.credits.map((credit) => {
    return credit.currency + ': ' + credit.about
  })
})
</script>
