<template>
  <Head title="Bienvenido" />

  <section class="hero is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img
                src="images/app-logo.png"
                alt="Logo"
              />
            </a>
            <span
              class="navbar-burger"
              data-target="navbarMenuHeroA"
              :class="{ 'is-active': isOpen }"
              @click="isOpen = !isOpen"
            >
              <span />
              <span />
              <span />
            </span>
          </div>
          <div
            id="navbarMenuHeroA"
            class="navbar-menu"
            :class="{ 'is-active': isOpen }"
          >
            <div v-if="canLogin" class="navbar-end">
              <Link
                v-if="$page.props.user"
                href="/dashboard"
                class="navbar-item"
              >
                Tablero
              </Link>

              <template v-else>
                <Link
                  v-if="canRegister"
                  :href="route('register')"
                  class="navbar-item"
                >
                  Regístrese
                </Link>
                <span class="navbar-item">
                  <Link
                    :href="route('login')"
                    class="button is-info is-inverted"
                  >
                    <span class="icon">
                      <i class="fas fa-sign-in-alt" />
                    </span>
                    <span>Ingresar</span>
                  </Link>
                </span>
              </template>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">Estatus Contable</p>
        <p class="subtitle">Registro de Finanzas Personales</p>
        <p class="subtitle">
          Proyecto de aprendizaje autodidacta construido con Laravel 9, JetStream,
          Inertia + Vue 3, Bulma y PostgreSQL 14.
        </p>
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <div class="content has-text-centered">
        <p>
          <strong>Estatus Contable</strong> por
          <a href="https://twitter.com/_kimael_">Maikel Carballo</a>. El código
          fuente tiene licencia
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          2021. Laravel v{{ laravelVersion }} (PHP v{{ phpVersion }})
        </p>
      </div>
    </div>
  </section>
</template>

<script>
import { defineComponent } from 'vue'
import { Head, Link } from '@inertiajs/inertia-vue3'

export default defineComponent({
  components: {
    Head,
    Link,
  },
  props: {
    canLogin: Boolean,
    canRegister: Boolean,
    laravelVersion: String,
    phpVersion: String,
  },
  data() {
    return {
      isOpen: false,
    }
  },
});
</script>
