<template>
  <div class="control">
    <a class="button is-static is-rounded" :class="[size]">
      <BulmaIcon
        v-if="iconLeft"
        :icon="iconLeft"
        :size="iconSize"
        :color="iconColor"
      />
      <span v-if="text">{{ text }}</span>
      <BulmaIcon
        v-if="iconRight"
        :icon="iconRight"
        :size="iconSize"
        :color="iconColor"
      />
    </a>
  </div>
</template>

<script setup>
import BulmaIcon from '@/Components/BIcon.vue'

const props = defineProps({
  size: {
    type: String,
    default: '',
  },

  text: {
    type: String,
    default: '',
  },

  iconLeft: {
    type: String,
    default: '',
  },

  iconRight: {
    type: String,
    default: '',
  },

  iconColor: {
    type: String,
    default: '',
  },
})

const iconSize = props.size === 'is-small'
                 ? 'is-small'
                 : props.size === 'is-large'
                   ? 'is-medium'
                   : ''
</script>
