<template>
  <button
    :type="type"
    class="button is-rounded is-outlined"
    :class="[
      size,
      color,
      {
        'is-loading': loading,
        'is-fullwidth': expanded,
        'is-inverted': inverted,
        'is-focused': focused,
        'is-active': active,
        'is-hovered': hovered,
        'is-selected': selected,
      },
    ]"
    :disabled="loading"
  >
    <BulmaIcon
      v-if="iconLeft"
      :icon="iconLeft"
      :size="iconSize"
      :color="iconColor"
    />
    <span v-if="text">{{ text }}</span>
    <BulmaIcon
      v-if="iconRight"
      :icon="iconRight"
      :size="iconSize"
      :color="iconColor"
    />
  </button>
</template>

<script setup>
import BulmaIcon from '@/Components/BIcon.vue'

const props = defineProps({
  type: {
    type: String,
    default: 'button',
    validator: (value) => {
      return ['button', 'submit', 'reset'].includes(value)
    },
  },

  size: {
    type: String,
    default: '',
  },

  color: {
    type: String,
    default: 'is-primary',
  },

  text: {
    type: String,
    default: '',
  },

  iconLeft: {
    type: String,
    default: '',
  },

  iconRight: {
    type: String,
    default: '',
  },

  iconColor: {
    type: String,
    default: '',
  },

  loading: Boolean,
  expanded: Boolean,
  inverted: Boolean,
  focused: Boolean,
  active: Boolean,
  hovered: Boolean,
  selected: Boolean,
})

const iconSize = props.size === 'is-small'
                 ? 'is-small'
                 : props.size === 'is-large'
                   ? 'is-medium'
                   : ''
</script>
