<template>
  <div class="columns is-centered section is-medium">
    <div class="column is-one-third container">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{ title }}</p>
          <Link href="/" class="card-header-icon" aria-label="home">
            <span class="icon">
              <i class="fas fa-home" aria-hidden="true"></i>
            </span>
          </Link>
        </header>
        <div class="card-image has-text-centered mt-3">
          <Link href="/">
            <AppLogo class="is-48x48 is-inline-block" />
          </Link>
        </div>
        <div class="card-content">
          <div class="content">
            <div v-if="hasErrors" class="notification is-danger">
              <strong>Por favor, corrija los campos resaltados.</strong>
            </div>
            <div v-if="status" class="notification is-success">
              <strong>{{ status }}</strong>
            </div>

            <slot />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { Link } from '@inertiajs/inertia-vue3'
import AppLogo from '@/Components/BLogo.vue'

const props = defineProps({
  title: {
    type: String,
    required: true,
  },
  status: {
    type: String,
    default: '',
  },
  hasErrors: {
    type: Boolean,
    default: false,
  },
})
</script>
