<template>
  <div
    class="field"
    :class="[
      {
        'is-horizontal': horizontal,
        'is-expanded': expanded,
        'has-addons': addons,
        'has-addons has-addons-centered': addonsC,
        'has-addons has-addons-right': addonsR,
        'is-grouped': grouped,
        'is-grouped is-grouped-centered': groupedC,
        'is-grouped is-grouped-right': groupedR,
      },
      $attrs.class,
    ]"
  >
    <template v-if="horizontal">
      <div class="field-label" :class="[labelSize]">
        <label v-if="label" :for="iid" class="label">{{ label }}</label>
      </div>
      <div class="field-body">
        <slot />
      </div>
    </template>
    <template v-else>
      <label v-if="label" :for="iid" class="label" :class="[labelSize]">{{
        label
      }}</label>
      <slot />
    </template>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
}
</script>

<script setup>
const props = defineProps({
  label: {
    type: String,
    default: '',
  },

  iid: {
    type: String,
    default: '',
  },

  labelSize: {
    type: String,
    default: '',
  },

  horizontal: Boolean,
  expanded: Boolean,
  addons: Boolean,
  addonsC: Boolean,
  addonsR: Boolean,
  grouped: Boolean,
  groupedC: Boolean,
  groupedR: Boolean,
})
</script>
