<template>
  <p class="help is-danger">
    {{ message }}
  </p>
</template>

<script setup>
const props = defineProps({
  message: {
    type: String,
    default: 'Error desconocido'
  }
})
</script>