<template>
  <span
    class="icon"
    :class="[size, color, { 'is-left': lefted, 'is-right': righted }]"
  >
    <i :class="icon" />
  </span>
</template>

<script setup>
const props = defineProps({
  icon: {
    type: String,
    required: true,
  },

  size: {
    type: String,
    default: "",
  },

  color: {
    type: String,
    default: "",
  },

  lefted: Boolean,
  righted: Boolean,
})
</script>
