<template>
  <div
    class="control"
    :class="{
      'has-icons-left': iconLeft,
      'has-icons-right': iconRight,
      'is-expanded': expanded,
    }"
  >
    <input
      v-bind="{ ...$attrs, class: null }"
      ref="input"
      class="input is-rounded"
      :class="{ 'is-danger': error }"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
    >
    <BulmaIcon v-if="iconLeft" :icon="iconLeft" lefted />
    <template v-if="error">
      <BulmaIcon :icon="iconRight" color="has-text-danger" righted />
      <p class="help is-danger">
        {{ error }}
      </p>
    </template>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
}
</script>

<script setup>
import BulmaIcon from '@/Components/BIcon.vue'

const props = defineProps({
  iconLeft: {
    type: String,
    default: '',
  },

  iconRight: {
    type: String,
    default: 'fas fa-exclamation-circle',
  },

  error: String,
  modelValue: String,
  expanded: Boolean,
})

const emit = defineEmits(['update:modelValue'])
</script>
