<template>
  <div class="level mt-5 mr-2 content-title">
    <div class="level-left">
      <div class="level-item mr-6">
        <div class="title has-text-info">
          <span class="icon is-small icon-title">
            <i :class="lvl1icon" />
          </span>
          <span>{{ lvl1crumb }}</span>
        </div>
      </div>
      <div class="level-item">
        <nav class="breadcrumb is-small" aria-label="breadcrumbs">
          <ul v-if="lvl2crumb">
            <li>
              <Link :href="lvl1route">
                {{ lvl1crumb }}
              </Link>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">{{ lvl2crumb }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="level-right">
      <p class="level-item">
        <strong>Fecha aquí</strong>
      </p>
    </div>
  </div>
</template>

<script setup>
import { Link } from "@inertiajs/inertia-vue3";

const props = defineProps({
  lvl1route: {
    type: String,
    default: "#",
  },
  lvl1crumb: {
    type: String,
    required: true,
  },
  lvl1icon: {
    type: String,
    required: true,
  },
  lvl2crumb: {
    type: String,
    default: "",
  },
  lvl2icon: {
    type: String,
  },
})
</script>