<template>
  <nav class="level mt-5">
    <div class="level-left">
      <div class="level-item">
        <span v-if="from && to">
          {{ from }} a {{ to }} de <strong>{{ total }}</strong> {{ subject }}
        </span>
        <span v-else>
          <strong>{{ total }}</strong> {{ subject }}
        </span>
      </div>

      <div class="level-item is-hidden-tablet-only">
        <div class="field has-addons">
          <div class="control">
            <input
              type="text"
              id="search"
              class="input is-rounded is-info is-outlined"
              :value="modelValue"
              @input="$emit('update:modelValue', $event.target.value)"
              ref="input"
              placeholder="Buscar rápido"
            />
          </div>
          <div class="control">
            <button @click="handleReset" class="button is-rounded is-info is-outlined">
              <button class="delete is-large"></button>
            </button>
          </div>
        </div>
      </div>

      <slot name="level-left" />
    </div>

    <div class="level-right">
      <div class="level-item">
        <div class="field">
          <p class="control">
            <button class="button is-rounded is-info is-outlined">
              <span class="icon is-small">
                <i class="fas fa-filter"></i>
              </span>
              <span>Buscar avanzado</span>
            </button>
          </p>
        </div>
      </div>

      <slot name="level-right" />

      <div v-if="routeCreate" class="level-item">
        <div class="field">
          <p class="control">
            <Link
              :href="route(routeCreate)"
              class="button is-rounded is-success is-outlined"
            >
              <span class="icon is-small">
                <i class="fas fa-plus" />
              </span>
              <span>Nuevo</span>
            </Link>
          </p>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'

export default {
  components: {
    Link,
  },
  props: {
    from: {
      type: [Number, null],
      required: true,
    },
    to: {
      type: [Number, null],
      required: true,
    },
    total: {
      type: Number,
      required: true,
    },
    subject: {
      type: String,
      default: "",
    },
    routeCreate: {
      type: String,
      default: "",
    },
    modelValue: String,
  },
  emits: ["update:modelValue", "resetQuickSearch"],
  methods: {
    handleReset() {
      this.$emit("resetQuickSearch");
    },
  },
};
</script>