<template>
  <article class="message" :class="[color, size]">
    <div v-if="hasHeader" class="message-header">
      <slot name="header" />
      <button
        v-if="dismissable"
        class="delete"
        :class="size"
        aria-label="delete"
      />
    </div>
    <div class="message-body">
      <slot name="body" />
    </div>
  </article>
</template>

<script setup>
const props = defineProps({
  color: {
    type: String,
    default: '',
  },

  size: {
    type: String,
    default: '',
  },

  hasHeader: Boolean,
  dismissable: Boolean,
})
</script>
