<template>
  <div v-if="$page.props.flash.success && show" class="notification is-success">
    <button class="delete" @click="show = false" />
    <div v-html="$page.props.flash.success" />
  </div>
  <div v-if="$page.props.flash.error && show" class="notification is-danger">
    <button class="delete" @click="show = false" />
    <strong>Por favor, corrija los campos resaltados.</strong>
  </div>
</template>

<script setup>
import { computed, watch, ref } from 'vue'
import { usePage } from '@inertiajs/inertia-vue3'

const show = ref(true)

const hasFlashMessage = computed(() => {
  return Object.keys(usePage().props.value.flash).length > 0
})

watch(hasFlashMessage, (hasNewFlashMessage, oldFlashMessage) => {
  if (hasNewFlashMessage) {
    show.value = true
  }
})
</script>
