<template>
  <nav class="pagination is-rounded" role="navigation" aria-label="paginación">
    <Link
      v-if="links.length > 1 && prevPage"
      class="pagination-previous"
      :href="prevPage"
      >Anterior</Link
    >
    <Link
      v-if="links.length > 1 && nextPage"
      class="pagination-next"
      :href="nextPage"
      >Siguiente</Link
    >
    <ul class="pagination-list">
      <template v-for="(link, index) in pages" :key="index">
        <li
          v-if="
            Math.abs(index + 1 - currentPage) < 3 ||
            index + 1 == totalPages ||
            index + 1 == 1
          "
        >
          <span
            v-if="
              index + 1 == totalPages && Math.abs(index + 1 - currentPage) > 3
            "
            class="pagination-ellipsis"
            >&hellip;</span
          >
          <Link
            class="pagination-link"
            :class="{ 'is-current': link.active }"
            :aria-label="{ Página: link.active, 'Ir a página': !link.active }"
            :aria-current="{ página: link.active }"
            :href="link.url"
          >
            {{ link.label }}
          </Link>
          <span
            v-if="index + 1 == 1 && Math.abs(index + 1 - currentPage) > 3"
            class="pagination-ellipsis"
            >&hellip;</span
          >
        </li>
      </template>
    </ul>
  </nav>
</template>

<script setup>
import { Link } from '@inertiajs/inertia-vue3'
import { computed } from 'vue'

const props = defineProps({
  currentPage: Number,
  itemsPerPage: Number,
  links: Array,
  nextPage: String,
  prevPage: String,
  totalPages: Number,
})

const pages = computed(() => {
  props.links.pop()
  props.links.shift()

  return props.links.slice(0, props.itemsPerPage)
})
</script>