<template>
  <p class="subtitle is-5 mr-3">{{ leftLabel }}</p>
  <div class="field has-addons is-expanded">
    <div class="control">
      <div class="select is-multiple">
        <select
          multiple
          size="7"
          v-model="leftSelectedData"
          @dblclick="moveRight"
        >
          <option v-for="(item, index) in leftData" :key="index" :value="item">
            {{ item.about }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!-- BOTONES -->
  <div class="buttons has-addons">
    <button type="button" class="button is-rounded" @click="moveLeft">
      <span class="icon is-small">
        <i class="fas fa-chevron-circle-left"></i>
      </span>
    </button>
    <button type="button" class="button is-rounded" @click="moveRight">
      <span class="icon is-small">
        <i class="fas fa-chevron-circle-right"></i>
      </span>
    </button>
  </div>

  <p class="subtitle is-5 mr-3">{{ rightLabel }}</p>
  <div class="field has-addons is-expanded">
    <div class="control">
      <div class="select is-multiple">
        <select
          multiple
          size="7"
          v-model="rightSelectedData"
          @dblclick="moveLeft"
        >
          <option v-for="(item, index) in rightData" :key="index" :value="item">
            {{ item.about }}
          </option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    leftLabel: {
      type: String,
      required: true,
      default: "Disponibles",
    },
    rightLabel: {
      type: String,
      required: true,
      default: "Seleccionados",
    },
    leftData: {
      type: Array,
      required: true,
    },
    rightData: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      leftSelectedData: [],
      rightSelectedData: [],
    };
  },
  methods: {
    moveLeft() {
      if (!this.rightSelectedData.length) return;
      for (let i = this.rightSelectedData.length; i > 0; i--) {
        let idx = this.rightData.indexOf(this.rightSelectedData[i - 1]);
        this.rightData.splice(idx, 1);
        this.leftData.push(this.rightSelectedData[i - 1]);
        this.rightSelectedData.pop();
      }
    },
    moveRight() {
      if (!this.leftSelectedData.length) return;
      for (let i = this.leftSelectedData.length; i > 0; i--) {
        let idx = this.leftData.indexOf(this.leftSelectedData[i - 1]);
        this.leftData.splice(idx, 1);
        this.rightData.push(this.leftSelectedData[i - 1]);
        this.leftSelectedData.pop();
      }
    },
  },
};
</script>
