<template>
  <div :class="[{ 'has-icons-left': error }, $attrs.class]">
    <div
      class="select is-rounded"
      :class="[{ 'is-danger': error, 'is-fullwidth': selectIsFullwidth }]"
    >
      <select
        :id="id"
        ref="input"
        v-model="selected"
        v-bind="{ ...$attrs, class: null }"
      >
        <slot />
      </select>
    </div>

    <span v-if="error" class="icon is-small is-left has-text-danger">
      <i :class="iconLeft" />
    </span>

    <p v-if="error && showError" class="help is-danger">
      {{ error }}
    </p>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    id: {
      type: String,
      default() {
        return `select-input-${Math.random() * 1000}`;
      },
    },
    selectIsFullwidth: {
      type: Boolean,
      default: false,
    },
    iconLeft: {
      type: String,
      default: "fas fa-exclamation-circle",
    },
    showError: {
      type: Boolean,
      default: true,
    },
    modelValue: [String, Number, Boolean],
    error: String,
  },
  data() {
    return {
      selected: this.modelValue,
    };
  },
  watch: {
    selected(selected) {
      this.$emit("update:modelValue", selected);
    },
  },
  methods: {
    focus() {
      this.$refs.input.focus();
    },
    select() {
      this.$refs.input.select();
    },
  },
};
</script>
