<template>
  <a
    v-if="isDelete"
    class="tag is-delete"
    @click="$emit('deleteClicked', true)"
  />
  <span v-else class="tag" :class="[color, size, { 'is-rounded': rounded }]">{{
    tag
  }}</span>
</template>

<script>
export default {
  props: {
    tag: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      default: '',
    },
    size: {
      type: String,
      default: '',
    },
    rounded: Boolean,
    isDelete: Boolean,
  },
  emits: ['deleteClicked'],
}
</script>
