<template>
  <div
    class="control"
    :class="[{ 'has-icons-right': iconRight }, $attrs.class]"
  >
    <textarea
      v-bind="{ ...$attrs, class: null }"
      ref="input"
      class="textarea"
      :class="{ 'is-danger': error }"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
    />
    <span v-if="error" class="icon is-small is-right has-text-danger">
      <i :class="iconRight" />
    </span>
    <p v-if="error" class="help is-danger">
      {{ error }}
    </p>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    iconRight: {
      type: String,
      default: 'fas fa-exclamation-circle',
    },
    error: String,
    modelValue: String,
  },
  emits: ['update:modelValue'],
  methods: {
    focus() {
      this.$refs.input.focus()
    },
    select() {
      this.$refs.input.select()
    },
  },
}
</script>
