<template>
  <aside id="main-sidebar" class="aside" :class="{ closed: isClosed }">
    <nav class="menu">
      <p class="menu-label">Inicio</p>
      <ul class="menu-list">
        <li>
          <Link
            href="/dashboard"
            :class="{ 'is-active': $page.url.startsWith('/dashboard') }"
            ><span class="icon-text">
              <span class="icon">
                <i class="fas fa-tachometer-alt"></i>
              </span>
              <span class="menu-text">Tablero</span>
            </span>
          </Link>
        </li>

        <li>
          <Link
            href="/accounts"
            :class="{ 'is-active': $page.url.startsWith('/accounts') }"
            ><span class="icon-text">
              <span class="icon">
                <i class="fas fa-file-invoice"></i>
              </span>
              <span class="menu-text">Cuentas</span>
            </span>
          </Link>
        </li>
      </ul>

      <p class="menu-label">Movimientos</p>
      <ul class="menu-list">
        <li>
          <Link
            href="/credits"
            :class="{ 'is-active': $page.url.startsWith('/credits') }"
            ><span class="icon-text">
              <span class="icon">
                <i class="fas fa-arrow-trend-up"></i>
              </span>
              <span class="menu-text">Créditos</span>
            </span>
          </Link>
        </li>

        <li>
          <Link
            href="/debits"
            :class="{ 'is-active': $page.url.startsWith('/debits') }"
            ><span class="icon-text">
              <span class="icon">
                <i class="fas fa-arrow-trend-down"></i>
              </span>
              <span class="menu-text">Débitos</span>
            </span>
          </Link>
        </li>
      </ul>
    </nav>
    <div
      id="sidebar-toggler"
      @click="(isClosed = !isClosed), handleLayout(isClosed)"
    >
      <span class="icon is-small"><i class="fa fa-angle-double-left"></i></span>
    </div>
  </aside>
</template>

<script>
import { defineComponent } from 'vue'
import { Link } from '@inertiajs/inertia-vue3'

export default defineComponent({
  components: {
    Link,
  },

  data() {
    return {
      isOpen: false,
      isClosed: false,
    };
  },

  methods: {
    handleLayout(value) {
      this.$emit("updateLayout", value);
    },
  },
})
</script>
