<template>
  <header class="hero">
    <div class="hero-head">
      <nav
        class="navbar has-shadow"
        role="user actions"
        aria-label="user navigation"
      >
        <div class="navbar-brand">
          <Link class="navbar-item" :href="route('dashboard')">
            <AppLogo class="is-48x48" />
          </Link>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navMenu"
            @click="isOpen = !isOpen"
            :class="{ 'is-active': isOpen }"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': isOpen }">
          <div class="navbar-start">
            <div class="navbar-item">
              <div>
                <small>Status Contable</small>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <figure class="image is-32x32" style="margin-right: 0.5em">
                  <img
                    :src="avatar"
                  />
                </figure>
                {{ $page.props.user.email }}
              </a>
              <div class="navbar-dropdown is-right">
                <a class="navbar-item" href="#">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fas fa-user"></i>
                    </span>
                    <span>Perfil</span>
                  </span>
                </a>
                <!-- <a class="navbar-item">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fas fa-clipboard-list"></i>
                    </span>
                    <span>Mi Actividad (en construcción)</span>
                  </span>
                </a> -->
              </div>
            </div>
            <div class="navbar-item">
              <div class="buttons">
                <Link
                  class="button is-outlined is-link"
                  :href="route('logout')"
                  method="post"
                  as="button"
                >
                  <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                  </span>
                  <span>Salir</span>
                </Link>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
import { defineComponent } from 'vue'
import { Link } from '@inertiajs/inertia-vue3'
import AppLogo from '@/Components/BLogo.vue'

export default defineComponent({
  components: {
    AppLogo,
    Link,
  },

  data() {
    return {
      isOpen: false,
      avatar: this.$page.props.user.profile_photo_path,
    }
  },
})
</script>
