<template>
  <AppLayout title="Nueva Cuenta">
    <template #header>
      <BulmaLevel v-bind="levelData()" />
    </template>

    <form class="mt-6" novalidate @submit.prevent="submit">
      <BulmaField label="Nombre" iid="name" label-size="is-normal" horizontal>
        <BulmaField>
          <BulmaInput
            id="name"
            v-model="form.name"
            :error="errors.name"
            type="text"
            class="is-expanded"
            required
            placeholder="Ejemplo: Ahorros - Banesco"
          />
        </BulmaField>
      </BulmaField>

      <BulmaField label="Moneda" iid="currency" label-size="is-normal" horizontal>
        <BulmaField>
          <BulmaInput
            id="currency"
            v-model="form.currency"
            :error="errors.currency"
            type="text"
            class="is-expanded"
            required
            placeholder="Ejemplo: VES"
          />
        </BulmaField>
      </BulmaField>

      <BulmaField label="Saldo Inicial" iid="balance" label-size="is-normal" horizontal>
        <BulmaField>
          <BulmaInput
            id="balance"
            v-model="form.balance"
            :error="errors.balance"
            type="number"
            class="is-expanded"
            min="0.01"
            max="99999999.99"
            step=".01"
            required
            placeholder="Ejemplo: 14,5"
          />
        </BulmaField>
      </BulmaField>

      <BulmaField horizontal>
        <BulmaField>
          <BulmaButton
            type="submit"
            :loading="form.processing"
            class="is-success"
            text="Registrar"
            icon-left="fas fa-save"
          />
        </BulmaField>
      </BulmaField>
    </form>
  </AppLayout>
</template>

<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3'
import AppLayout from '@/Layouts/AppLayout.vue'
import BulmaButton from '@/Components/BButton.vue'
import BulmaButtonStatic from '@/Components/BButtonStatic.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaTextArea from '@/Components/BTextArea.vue'
import { DateTime } from 'luxon'

const props = defineProps({
  errors: Object,
})

const form = useForm({
  name: null,
  currency: null,
  balance: null,
})

const now = DateTime.now().toISODate()

const submit = () => {
  // eslint-disable-next-line no-undef
  form
  .transform((data) => ({
    ...data,
    balance: parseFloat(data.balance).toFixed(2)
  }))
  .post(route('accounts.store'), form)
}

const levelData = () => {
  return {
    // eslint-disable-next-line no-undef
    lvl1route: route('accounts.index'),
    lvl1icon: 'fas fa-file-invoice',
    lvl1crumb: 'Cuentas',
    lvl2icon: 'fas fa-plus',
    lvl2crumb: 'Nuevo',
  }
}
</script>