<template>
  <div class="modal is-active">
    <div class="modal-background" />
    <div class="modal-content">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <span class="icon is-medium">
                <span class="icon">
                  <i :class="gender.fa_icon" />
                </span>
              </span>
            </div>
            <div class="media-content">
              <p class="title is-4 has-text-black">
                {{ gender.name }}
              </p>
              <p class="subtitle is-6 has-text-black">
                {{ gender.about }}
              </p>
            </div>
          </div>

          <div class="content">
            Este Género Social será eliminado y no podrá volver a usarse. Por favor,
            confirmar.
          </div>
          <footer class="card-footer">
            <a
              href="#"
              class="card-footer-item button is-danger is-rounded"
              @click="destroy"
            >
              <span class="icon">
                <i class="fas fa-trash" />
              </span>
              <span>Eliminar</span>
            </a>
            <a
              href="#"
              class="card-footer-item button is-dark is-rounded"
              @click="$emit('hideDestroyModal', false)"
            >
              <span class="icon">
                <i class="fas fa-times" />
              </span>
              <span>Cerrar</span>
            </a>
          </footer>
        </div>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      @click="$emit('hideDestroyModal', false)"
    />
  </div>
</template>

<script>
export default {
  props: {
    gender: Object,
  },
  emits: ["hideDestroyModal"],
  methods: {
    destroy() {
      this.$inertia.delete(`genders/${this.gender.id}`, {
        onFinish: () => (this.$emit('hideDestroyModal', false)),
      });
    },
  },
};
</script>