<template>
  <AppLayout title="Cuentas">
    <template #header>
      <BulmaLevel v-bind="levelData()" />
    </template>

    <BulmaLevelSearch
      v-model="form.search"
      v-bind="levelSearchData(accounts)"
      route-create="accounts.create"
      @reset-quick-search="reset"
    >
    </BulmaLevelSearch>

    <div class="table-container">
      <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
          <tr>
            <th class="has-text-left">Nombre</th>
            <th class="has-text-right">Moneda</th>
            <th class="has-text-right">Saldo</th>
            <th />
          </tr>
        </thead>

        <tbody>
          <tr v-for="(account, index) in accounts.data || []" :key="index">
            <td class="has-text-left">
              <a href="#" @click="showDetails(account.id)">{{ account.name }}</a>
            </td>
            <td class="has-text-right">
              {{ account.currency }}
            </td>
            <td class="has-text-right">
              {{ new Intl.NumberFormat('es-VE', {style: 'decimal', minimumFractionDigits: 2}).format(account.balance) }}
            </td>
            <td>
              <div class="field has-addons is-centered">
                <p class="control">
                  <BulmaButton
                    icon-left="fas fa-eye"
                    size="is-small"
                    @click="showDetails(account.id)"
                  />
                </p>
                <p class="control">
                  <BulmaButton
                    icon-left="fas fa-pen"
                    size="is-small"
                    @click="goToEdit(account.id)"
                  />
                </p>
                <p class="control">
                  <BulmaButton
                    icon-left="fas fa-trash"
                    size="is-small"
                    @click="setToDestroy(account), (showDestroyModal = true)"
                  />
                </p>
              </div>
            </td>
          </tr>

          <tr v-if="accounts.data.length === 0">
            <td class="has-text-centered" colspan="4">
              No existen registros.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <BulmaPagination v-bind="paginationData(accounts)" />
    <ModalDetail />
    <ModalDestroy
      v-if="showDestroyModal"
      :account="dataToDestroy"
      @hide-destroy-modal="showDestroyModal = $event"
    />
  </AppLayout>
</template>

<script setup>
import { computed, ref, watch } from 'vue'
import { useForm } from '@inertiajs/inertia-vue3'
import AppLayout from '@/Layouts/AppLayout.vue'
import BulmaButton from '@/Components/BButton.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaLevelSearch from '@/Components/BLevelSearch.vue'
import BulmaPagination from '@/Components/BPagination.vue'
import BulmaSelect from '@/Components/BSelect.vue'
import mapValues from 'lodash/mapValues'
import ModalDestroy from './Destroy.vue'
import ModalDetail from './Show.vue'
import pickBy from 'lodash/pickBy'
import throttle from 'lodash/throttle'
import { Inertia } from '@inertiajs/inertia'

const props = defineProps({
  errors: Object,
  filters: Object,
  accounts: Object,
})

const dataToDestroy = ref({})
const showDestroyModal = ref(false)

const form = useForm({
  search: props.filters.search,
})

const pluralizer = computed(() => {
  return props.accounts.total !== 1 ? 'cuentas' : 'cuenta'
})

watch(form,
  throttle(() => {
    Inertia.get(route('accounts.index'), pickBy(form), {
      preserveState: true,
      only: ['accounts'],
    })
  }, 200), {
    deep: true
  }
)

const reset = () => form.reset()

const showDetails = (account) => {
  Inertia.get(`accounts/${account}`)
}
const goToEdit = (account) => {
  Inertia.get(`accounts/${account}/edit`)
}
const setToDestroy = (account) => {
  dataToDestroy = account
}

const levelData = () => {
  return {
    lvl1icon: 'fas fa-file-invoice',
    lvl1crumb: 'Cuentas',
  }
}
const levelSearchData = (data) => {
  return {
    from: data.from,
    to: data.to,
    total: data.total,
    subject: pluralizer.value,
  }
}
const paginationData = (data) => {
  return {
    links: data.links,
    'current-page': data.current_page,
    'items-per-page': data.per_page,
    'total-pages': data.last_page,
    'next-page': data.next_page_url,
    'prev-page': data.prev_page_url,
  }
}
</script>