<template>
  <Head :title="title" />

  <TheNavBar />

  <div class="wrapper">
    <TheAsideBar @update-layout="resetLayout" />

    <main class="main" id="main" :class="{ 'sidebar--closed': sidebarClosed }">
      <header v-if="$slots.header">
        <BulmaNotificationFash />
        <slot name="header" />
      </header>

      <slot />
    </main>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import TheNavBar from '@/Components/TheNavBar.vue'
import TheAsideBar from '@/Components/TheAsideBar.vue'
import BulmaNotificationFash from '@/Components/BNotificationFlash.vue'
import { Head } from '@inertiajs/inertia-vue3'

export default defineComponent({
  props: {
    title: String,
  },

  components: {
    BulmaNotificationFash,
    Head,
    TheAsideBar,
    TheNavBar,
  },

  data() {
    return {
      sidebarClosed: false,
    };
  },

  methods: {
    resetLayout(value) {
      this.sidebarClosed = value;
    },
  },
})
</script>
