<template>
  <Head title="Confirmar Contraseña" />

  <BulmaCardAuth title="Acceder" :has-errors="hasErrors">
    <BulmaMessage color="is-info" has-header>
      <template #header>
        <p>Comprobación de Seguridad</p>
      </template>
      <template #body>
        Por favor, confirme su Contraseña antes de continuar.
      </template>
    </BulmaMessage>

    <form novalidate @submit.prevent="submit">
      <BulmaField iid="password" label="Contraseña">
        <BulmaInput
          id="password"
          v-model="form.password"
          type="password"
          :error="errors.password"
          required
          autofocus
          autocomplete="current-password"
          icon-left="fas fa-lock"
        />
      </BulmaField>

      <BulmaField class="is-flex is-justify-content-end">
        <BulmaButton type="submit" :loading="form.processing" text="Confirmar" />
      </BulmaField>
    </form>
  </BulmaCardAuth>
</template>

<script setup>
import { computed } from 'vue'
import BulmaButton from '@/Components/BButton.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaMessage from '@/Components/BMessage.vue'
import { Head, useForm } from '@inertiajs/inertia-vue3'

const props = defineProps({
  errors: Object,
})

const form = useForm({
  password: '',
})

const hasErrors = computed(() => {
    return Object.keys(props.errors).length > 0
})

const submit = () => {
  form.post(route('password.confirm'), {
    onFinish: () => form.reset(),
  })
}
</script>
