<template>
  <Head title="Recuperar Contraseña" />

  <BulmaCardAuth title="Recuperar Contraseña" :has-errors="hasErrors" :status="status">
    <BulmaMessage color="is-info" has-header>
      <template #header>
        <p>¿Olvidó su Contraseña?</p>
      </template>
      <template #body>
        <p>
          No hay problema. Simplemente díganos su dirección de correo
          electrónico y le enviaremos un enlace de restablecimiento de
          contraseña que le permitirá elegir una nueva.
        </p>
      </template>
    </BulmaMessage>

    <form novalidate @submit.prevent="submit">
      <BulmaField iid="email" label="Correo Electrónico">
        <BulmaInput
          id="email"
          v-model="form.email"
          tyep="email"
          :error="errors.email"
          required
          autofocus
          autocomplete="username"
          icon-left="fas fa-at"
        />
      </BulmaField>

      <BulmaField class="is-flex is-justify-content-center">
        <BulmaButton
          type="submit"
          :loading="form.processing"
          text="Enviar Enlace de Restablecimiento"
        />
      </BulmaField>
    </form>
  </BulmaCardAuth>
</template>

<script setup>
import { computed } from 'vue'
import { Head, useForm } from '@inertiajs/inertia-vue3'
import BulmaButton from '@/Components/BButton.vue'
import BulmaCardAuth from '@/Components/BCardAuth.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaMessage from '@/Components/BMessage.vue'

const props = defineProps({
  errors: Object,
  status: String,
})

const form = useForm({
  email: '',
})

const hasErrors = computed(() => {
    return Object.keys(props.errors).length > 0
})

const submit = () => {
  form.post(route('password.email'))
}
</script>
