<template>
  <Head title="Acceder" />

  <BulmaCardAuth title="Acceder" :has-errors="hasErrors" :status="status">
    <form @submit.prevent="submit" novalidate>
      <BulmaField iid="email" label="Correo Electrónico">
        <BulmaInput
          id="email"
          v-model="form.email"
          :error="errors.email"
          type="email"
          required
          autofocus
          autocomplete="username"
          icon-left="fas fa-at"
        />
      </BulmaField>

      <BulmaField iid="passsword" label="Contraseña">
        <BulmaInput
          id="password"
          v-model="form.password"
          :error="errors.password"
          type="password"
          required
          autocomplete="current-password"
          icon-left="fas fa-lock"
        />
      </BulmaField>

      <BulmaField>
        <BulmaSwitch
          id="remember"
          v-model:checked="form.remember"
          class="is-info"
          label="Recuérdame"
          label-class="has-text-info"
        />
      </BulmaField>

      <div class="is-flex is-justify-content-flex-end mb-4">
        <Link v-if="canResetPassword" :href="route('password.request')">
          ¿Olvidó su contraseña?
        </Link>
      </div>

      <BulmaField>
        <BulmaButton type="submit" :loading="form.processing" text="Ingresar" />
      </BulmaField>
    </form>
  </BulmaCardAuth>
</template>

<script setup>
import { computed } from 'vue'
import { Head, Link, useForm } from '@inertiajs/inertia-vue3'
import BulmaButton from '@/Components/BButton.vue'
import BulmaCardAuth from '@/Components/BCardAuth.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaSwitch from '@/Components/BSwitch.vue'

const props = defineProps({
  canResetPassword: Boolean,
  status: String,
  errors: Object,
})

const form = useForm({
  email: '',
  password: '',
  remember: false,
})

const hasErrors = computed(() => {
    return Object.keys(props.errors).length > 0
})

const submit = () => {
  form
  .transform(data => ({
      ... data,
      remember: form.remember ? 'on' : ''
  }))
  .post(route('login'), {
      onFinish: () => form.reset('password'),
  })
}
</script>