<template>
  <Head title="Registrarse" />

  <BulmaCardAuth title="Acceder" :has-errors="hasErrors">
    <form novalidate @submit.prevent="submit">
      <BulmaField iid="name" label="Nombres">
        <BulmaInput
          id="name"
          v-model="form.name"
          :error="errors.name"
          type="text"
          required
          autofocus
          autocomplete="name"
          icon-left="fas fa-user"
        />
      </BulmaField>

      <BulmaField iid="email" label="Correo Electrónico">
        <BulmaInput
          id="email"
          :class="{ 'is-danger': errors.email }"
          v-model="form.email"
          :error="errors.email"
          type="email"
          required
          autocomplete="email"
          icon-left="fas fa-at"
        />
      </BulmaField>

      <BulmaField iid="password" label="Contraseña">
        <BulmaInput
          id="password"
          v-model="form.password"
          :error="errors.password"
          type="password"
          required
          autocomplete="new-password"
          icon-left="fas fa-lock"
        />
      </BulmaField>

      <BulmaField iid="password_confirmation" label="Confirme Contraseña">
        <BulmaInput
          id="password_confirmation"
          v-model="form.password_confirmation"
          :error="errors.password_confirmation"
          type="password"
          required
          autocomplete="new-password"
          icon-left="fas fa-lock"
        />
      </BulmaField>

      <BulmaField v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature">
        <BulmaSwitch
          id="terms"
          v-model:checked="form.terms"
          class="is-warning"
          label-class="has-text-warning"
        >
          Acepto los&nbsp;
          <a target="_blank" :href="route('terms.show')"
            >Términos del Servicio</a
          >
          &nbsp;y la&nbsp;
          <a target="_blank" :href="route('policy.show')"
            >Política de Privacidad</a
          >
        </BulmaSwitch>
      </BulmaField>

      <div class="is-flex is-justify-content-flex-end mb-4">
        <Link :href="route('login')"> ¿Ya está registrado? </Link>
      </div>

      <BulmaField>
        <BulmaButton
          type="submit"
          :loading="form.processing"
          text="Registrar"
        />
      </BulmaField>
    </form>
  </BulmaCardAuth>
</template>

<script setup>
import { computed } from "vue";
import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
import BulmaButton from "@/Components/BButton.vue";
import BulmaCardAuth from "@/Components/BCardAuth.vue";
import BulmaField from "@/Components/BField.vue";
import BulmaInput from "@/Components/BInput.vue";
import BulmaSwitch from "@/Components/BSwitch.vue";
import JetCheckbox from "@/Jetstream/Checkbox.vue";
import JetLabel from "@/Jetstream/Label.vue";

const props = defineProps({
  errors: Object,
});

const form = useForm({
  name: "",
  email: "",
  password: "",
  password_confirmation: "",
  terms: false,
});

const hasErrors = computed(() => {
  return Object.keys(props.errors).length > 0;
});

const submit = () => {
  form.post(route("register"), {
    onFinish: () => form.reset("password", "password_confirmation"),
  });
};
</script>
