<template>
  <Head title="Restablecer Contraseña" />

  <BulmaCardAuth title="Acceder" :has-errors="hasErrors">
    <form novalidate @submit.prevent="submit">
      <BulmaField iid="email" label="Correo Electrónico">
        <BulmaInput
          id="email"
          v-model="form.email"
          type="email"
          :error="errors.email"
          required
          autofocus
          autocomplete="username"
        />
      </BulmaField>

      <BulmaField iid="password" label="Contraseña">
        <BulmaInput
          id="password"
          v-model="form.password"
          type="password"
          :error="errors.password"
          required
          autocomplete="new-password"
        />
      </BulmaField>

      <BulmaField iid="password_confirmation" label="Confirme Contraseña">
        <BulmaInput
          id="password_confirmation"
          v-model="form.password_confirmation"
          type="password"
          :error="errors.password_confirmation"
          required
          autocomplete="new-password"
        />
      </BulmaField>

      <BulmaField class="is-flex is-justify-content-center">
        <BulmaButton
          type="submit"
          :loading="form.processing"
          text="Restablecer Contraseña"
        />
      </BulmaField>
    </form>
  </BulmaCardAuth>
</template>

<script setup>
import { computed } from 'vue'
import { Head, useForm } from '@inertiajs/inertia-vue3'
import BulmaButton from '@/Components/BButton.vue'
import BulmaCardAuth from '@/Components/BCardAuth.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaInput from '@/Components/BInput.vue'

const props = defineProps({
  email: String,
  errors: Object,
  token: String,
})

const form = useForm({
  token: props.token,
  email: props.email,
  password: '',
  password_confirmation: '',
})

const hasErrors = computed(() => {
    return Object.keys(props.errors).length > 0
})

const submit = () => {
  form.post(route('password.update'), {
    onFinish: () => form.reset('password', 'password_confirmation'),
  });
}
</script>
