<template>
  <Head title="Verificar Correo Electrónico" />

  <BulmaCardAuth title="Verificar Correo Electrónico">
    <BulmaMessage color="is-info">
      <template #header>
        <p>¡Gracias por registrarse!</p>
      </template>
      <template #body>
        <p>
          Antes de comenzar, ¿podría verificar su dirección de correo
          electrónico haciendo clic en el enlace que le acabamos de enviar?.
          <em>
            Si no recibió el correo electrónico, con gusto le enviaremos otro </em
          >.
        </p>
      </template>
    </BulmaMessage>

    <div v-if="verificationLinkSent" class="notification is-success">
      Se ha enviado un nuevo enlace de verificación
      <strong>
        a la dirección de correo electrónico que proporcionó durante el registro </strong
      >.
    </div>

    <form @submit.prevent="submit">
      <BulmaField grouped>
        <BulmaButton
          type="submit"
          :loading="form.processing"
          text="Reenviar Enlace"
        />
        <div class="control">
          <Link
            :href="route('logout')"
            method="post"
            as="button"
            class="button is-info is-outlined is-rounded"
          >
            Salir
          </Link>
        </div>
      </BulmaField>
    </form>
  </BulmaCardAuth>
</template>

<script setup>
import { computed } from 'vue'
import { Head, Link, useForm } from '@inertiajs/inertia-vue3'
import BulmaCardAuth from '@/Components/BCardAuth.vue'
import BulmaButton from '@/Components/BButton.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaMessage from '@/Components/BMessage.vue'

const props = defineProps({
  status: String,
})

const form = useForm()

const verificationLinkSent = computed(() => {
  return props.status === "verification-link-sent"
})

const submit = () => {
  form.post(route("verification.send"))
}
</script>
